/* Referencia #1 - Documentación página web */
form .form-control{
    border: none;
    width: 100%;
    height: 100%;
    border-bottom: solid 1.5px var(--vt-c-grey);  
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 220ms ease-in-out;
  }
  
  form .form-label{
    position: absolute;
    top: 15%;
    pointer-events: none;
    transition: all 220ms ease-in-out;
  }
  
  .form-control:focus ~ .form-label{
    top: -55%;
    color: var(--vt-c-orange);
  }
  
  .form-control:not(:placeholder-shown){
    border-bottom: solid 2px var(--vt-c-orange);
  }
  
  .form-control:not(:placeholder-shown) + .form-label{
    top: -55%;
    color: var(--vt-c-orange);
  }