/* Referencia #1 - Documentación página web */  
  form .form-label{
    position: absolute;
    top: 15%;
    pointer-events: none;
    transition: all 220ms ease-in-out;
  }

  .form-control:focus ~ .form-label{
    top: -55%;
    color: var(--vt-c-orange);
  }
  
  .form-control:not(:placeholder-shown){
    border-bottom: solid 2px var(--vt-c-orange);
  }
  
  .form-control:not(:placeholder-shown) + .form-label{
    top: -55%;
    color: var(--vt-c-orange);
  }