@import './base.css';

a{
    text-decoration: none;
    color: var(--vt-c-grey);
}

a:hover{
    color: var(--vt-c-orange);
}

.form-control:focus, .control-number:focus{
    outline: none;
    box-shadow: none;
}

.search-bar-filter{
    padding: 0 30px;
    display: flex;
}

.search-bar {
    width: 100%;
}

.filter{
    margin-left: 15px;
}

.selected{
    background-color: var(--vt-c-orange)!important;
    color: #FFF;
}

.top-menu{
    margin-bottom: 15px;
}

.modal {
    backdrop-filter: blur(2.5px);
    --bs-modal-width: 435px !important;
}

.modal-body{
    padding-top: 0!important;
}

#top-site-bar{
    position: fixed;
    top: 0;
    background-color: var(--vt-c-white);
    z-index: 1;
    width: 100%;
}

.favorite{
    position: absolute;
    right: 0;
    margin: 5px 15px 0 0;
    font-size: calc(1rem + .15em);
}

.favorite:hover{
    cursor: pointer;
    color: var(--vt-c-orange);
}

.selected-letter{
    color:  var(--vt-c-orange);
}

.selected-border{
    border-left: solid 4px var(--vt-c-orange);
}

.buttons{
    display: flex;
    justify-content: end;
    padding: 6px 16px 12px 16px;
}

.label{
    font-weight: 600 !important;
}

input:disabled{
    background-color: var(--vt-c-white);
    color: var(--vt-c-grey);
}